* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.menu {
  margin-top: 30px;
  margin-left: 30px;
  width: 40px;
  cursor: pointer;
}

header {
  position: absolute;
}

article {
  display: flex;
  position: relative;
  margin-right: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  animation: fadeIn 2s ease 0s 1 normal forwards;

}

article img {
  width: 420px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

article h1 {
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-weight: 400;
}

article span {
  font-weight: 700;
}

article p {
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
  line-height: 35px;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw;
  height: 77vh;
  border-radius: 35px;
  background: #f2f2f2;
  border: solid 4px #dadada;
  padding: 40px;
  
}

nav a {
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 7px;
  height: 40px;
  width: 90px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: solid 2px rgb(239, 239, 239);
}

nav {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flag1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  top: 0px;
  height: 70px;
  width: 33vw;
  border-radius: 0px 0px 35px 35px;
}

.flag1 img {
  margin-top: 20%;
  width: 100%;
}

.flag2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  height: 70px;
  width: 33vw;
  border-radius: 35px 35px 0px 0px;
}

.flag2 img {
  margin-top: 20%;
  width: 100%;
  transform: rotate(0deg);
}

.titulo-form {
  display: block;
  font-size: 10%;
  padding-top: 20px;
  transform: translateY(50px);
  text-align: center;
  color: #fff;
  width: 50%;
  height: 130px;
  background-color: #101010;
  border-radius: 25px;
}

::placeholder {
  opacity: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  position: relative;
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
  padding-left: 25px;
  height: 110px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  border: solid 4px #dadada;
}

#alert {
  display: none;
  width: 95%;
  border-radius: 20px;
  color: #282828;
  border: solid 1px rgb(255, 255, 255);
  background-color: #fbfbfb;
  box-shadow: #d7d7d7 10px 10px 50px;
}


#currency-select {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  margin-top: 0px;
  padding: 20px;
  width: 100%;
  height: 75px;
  border-radius: 50px;
  border: solid 4px #dadada;
  appearance: none;
}

form input:focus {
  outline: none;
  border: solid 4px rgb(146, 146, 146);
}

.convertedValue {
  filter: drop-shadow(0px 10px 0px #dadada);
  border: solid 4px #dadada;
}

.seletores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 70px;
}

.seta {
  opacity: 10%;
  width: 50px
}

@media (max-width: 1200px) {

  .seletores {
    margin-bottom: 48vh;
    position: absolute;
    font-size: 20px;
  }

  .seta {
    width: 25px;
  }

  #currency-select {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    padding: 0px 10px;
    width: 25vw;
    height: 40px;
    border-radius: 10px;
    border: solid 2px #dadada;
    appearance: none;
  }

  input {
    font-size: 100%;
    border-radius: 10px;
    height: 60px;
    border: solid 2px #e7e7e7;
  }

  .titulo-form {
    border-radius: 6px;
    height: 90px;
    padding-bottom: 80px;
    margin-left: 1px;
    padding-top: 15px;
    background-color: #484848;
  }

  .titulo-form h3 {
    font-size: 15px;
    font-weight: 600;
  }

  main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 20vh;
  }

  article img {
    display: none;
  }  

  article {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
  }

  article h1 {
    font-size: 13vw;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  article p {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
    font-size: 15px;
  }

  #alert {
    transform: translateY(35px);
    font-size: 13px;
    color: #ffda6a;
    border: solid 1px #ffda6a;
    background-color: #332701;
    height: 60px;
    font-weight: 300;
    width: 100%;
    line-height: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }

  form {
    height: 50vh;
    width: 75%;
    padding-top: 0px;
    padding: 5px;
    padding-bottom: 45px;
    border-radius: 10px;
    border: solid 2px #dadada;
  }

  .flag1 {
    display: flex;
    align-items: center;
    transform: translateY(15px);
    top: auto;
    width: 8%;
    left: 0px;
    height: 300px;
    border-radius: 0px 20px 20px 0px;
  }

  .flag1 img {
    width: 750px;
    height: 110%;
    transform: scaleX(-1);
  }

  .flag2 {
    display: flex;
    align-items: center;
    transform: translateY(15px);
    top: auto;
    margin: auto;
    width: 8%;
    right: 0px;
    height: 300px;
    border-radius: 20px 0px 0px 20px;
    bottom: auto;
  }

  .flag2 img {
    width: 750px;
    height: 110%;   
  }

  .menu {
    width: 35px;
    margin: 0 auto;
    margin-left: 30px;
  }

  nav a {
    margin-right: 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    padding: 7px;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: solid 2px rgb(239, 239, 239);
  }

  nav {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-height: 700px) {
  main {
    padding-top: 40vh;
  }

  .seletores {
    margin-bottom: 400px;
  }
}

